/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------MAIN STYLES------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
}




/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------HEADER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#brand {
  font-family: 'Kumar One', cursive;
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------JUMBOTRON------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------CONCEPT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------PROJECTS SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------SUBMIT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------FOOTER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/