@font-face {
  source : url('../font/Abel/Abel-Regular.ttf'); 
  font-family: 'Abel'; 
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------MAIN STYLES------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------HEADER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#brand {
  font-family: 'Kumar One', cursive;
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------JUMBOTRON------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------CONCEPT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------PROJECTS SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#photo-milieu {
  height: 500px;
  background : url('../links/tag.jpg') no-repeat center fixed;
  background-size: cover;
} 

#lasts-projects {
  
}

figure img {
  width: 100%;
  height: auto;
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------SUBMIT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------FOOTER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/