@font-face {
  src : url('../font/Abel/Abel-Regular.ttf');
  font-family: 'Abel';
}

@font-face {
  src : url('../font/Kumar_One/KumarOne-Regular.ttf');
  font-family: 'Kumar';
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------MAIN STYLES------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

button  {
  background-color: #72bb53;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 15px;
  color: white;
  font-family: 'Abel', sans-serif;
}

/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------HEADER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
header {
  justify-content: space-between;
  height: 100px;
  padding: 20px;
}


.brand {
  font-family: 'Kumar', cursive;
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------JUMBOTRON------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
#jumbotron {
  position: relative;
  height: 100vh;
  width: 100%;
  left:0;
  top: 0;
  padding-top: 3px;
}

#bgvid {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

#jumbotron h1 {
  text-align: center;
  font-size: 3.5em;
}

#jumbotron button {
  position: absolute;
  bottom: 15%;
  left: 42%;
  width : 200px;
  height : 50px;
}


#jumbotron h2 {
  font-size: 1.8em;
}

#jumbotron-first-h2 {
  position: absolute;
  top: 14%;
  left: 25%;
}

#jumbotron-last-h2 {
  position: absolute;
  top: 18%;
  left: 45%;
}


/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------CONCEPT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
#concept {
  height: 500px;
}

#concept h1 {
  text-align: center;
}




/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------PROJECTS SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/

#photo-milieu {
  height: 500px;
  background : url('../links/tag.jpg') no-repeat center fixed;
  background-size: cover;
}

#lasts-projects {

}

figure img {
  width: 100%;
  height: auto;
}



/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------SUBMIT SECTION------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/






/**************** **************** **************** **************** **************** **************** **************** ****************/
    /**************** **************** **************** ------FOOTER------ **************** **************** ****************/
/**************** **************** **************** **************** **************** **************** **************** ****************/
